
body {
    background-color: F3EFF5;
}

#image_frame {
    align-self: center;
    /* width: 100%;
    height: 100%; */
}
#image_frame img {
    /* align-self: center; */
    /* width: 100%;
    height: 100%; */
}